.main__header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main__header-left {
  margin-top: -3rem;
}

.main__header-left h4 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.main__header-left h1{
  color: var(--color-secondary);

}

.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
}

.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}

/* .main__header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg,var(--color-secondary), transparent);
    border-radius: 50%;
    position: relative;
}
.main__header-image{
    position: absolute;
}  */


/* ==================Footer================ */

footer {
  background: var(--color-primary);
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}


.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 7rem;
}

.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;

}

.footer__container article p {
  margin-top: 0.5rem;
}

.footer__container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.footer__socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__socials a {
  background: var(--color-gray-100);
  padding: 0.7rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}

.footer__socials a svg {
  color: var(--color-gray-600);
}

.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footer__copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid rgb(193, 191, 191);
  margin-top: 5rem;
}

@media (max-width: 1120px) {
  .footer__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
  }

  .footer__container article {
    align-items: center;
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .main-header {
    margin-top: 150PX;
  }

  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}




@media screen and (max-width: 1024px) {

  .main__header {
    margin-top: 150px;
    height: fit-content;
    padding: 12rem 0;
  }

  .main__header-container {
    gap: 0;
  }


}




/* ===============products============== */

:root {
  --transition: all 0.2s ease-in-out;
  --bg-circles: rgb(95, 199, 255);

}

.Product-row {
  margin: 25px;
}

.slidable-card {
  margin: 25px;
  margin-bottom: 45px;

  width: 200px;
  height: 350px;
  border: 0px solid #ccc;
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0 0 35px 0 rgba(22, 73, 255, 0.4);
  overflow: hidden;
  border-radius: 3rem;

}

.slidable-card:hover {
  /* box-shadow: .1rem .1rem .1rem .1rem rgba(31, 47, 218, 0.5); */
  /* padding: 2px; */
  border: 1px solid #325c8e;

}

.slidable-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  overflow: hidden;


}

.slidable-card::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}



/*
.slidable-card.active::before,
.slidable-card:hover::before {
    width: 250px;
    height: 250px;
}

.slidable-card.active::after,
.slidable-card::after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: -90px;
    left: -90px;
    background-color: var(--bg-circles);
    border-radius: 50%;
    transition: var(--transition);
}
.slidable-card.active::after,
.slidable-card:hover::after {
    bottom: -35px;
    left: -35px;
} */
.slidable-card img {
  /* width: 280px;
  height: 200px;
  object-fit: scale-down; */
  transform: translateY(0px);
  transition: var(--transition);
}

.slidable-card.active img,
.slidable-card:hover img {
  transform: translateY(2px) scale(1.1);
}

.slidable-card h4 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 12px;
  position: relative;
  transition: var(--transition);
  top: 0;
}

.slidable-card.active h4,
.slidable-card:hover h4 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 12px;
  /* top: -25px; */
}





.Product-row h2 {
  color: var(--color-secondary);
  display: flex;
  align-items: flex-start;
}

.card-image {
  width: 100%;
  min-width: 100%;
  
  height: 200px;
  /* object-fit: cover; */
}

.card-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  overflow-x: hidden;
}

.card-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;

}


.card-button :hover {
  background-color: #bc6e08;
}


@media (max-width: 768px) {

  .slidable-card {
    width: 150px;
    height: 300px;
    margin: 20px;
    border: 0px solid #ccc;
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0 0 35px 0 rgba(22, 73, 255, 0.4);
    overflow: hidden;
  }

  .slidable-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
    overflow: hidden;


  }
}
@media (max-width: 480px) {
  /* Write your mobile styles here */
  .main__header {
    margin-top: 150px;
    height: fit-content;
    padding: 8rem 0;
  }

  .main__header-container {
    gap: 2rem;
  }

  .slidable-card {
    width: 120px;
    height: 200px;
    /* margin: 5px; */
    border: 1px solid #ccc;
    border-radius: 0 1rem 0 1rem;
    box-shadow: 0 2px 4px rgba(27, 12, 12, 0.2);
    overflow: hidden;
  }
  .slidable-card h4 {
    font-size: xx-small;
  }
  .slidable-card h3{
    font-size: small;
  }
  

  .slidable-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
    overflow: hidden;
  }
  .slidable-card .card-button {
    width: 100%;
    display: none;
  }

  .slidable-card h4 {
    margin-top: 10px; /* Adjust the margin as needed */
  }


  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__container article {
    align-items: center;
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
    margin-top: 1.5rem;
  }
}


/*==================orders====================*/



.order-container {
  margin-top: 150px;
}
.order-container .ListGroup{
  background-color: #195aaa;
}
.order-container  .check-list{
  background-color:  var(--color-primary);

}
.order-container .item-image{
padding: 5px;
width: 100px;
}
